*/.data/
#比较重要 可能含有个人隐私
#例如抓取的淘宝快递记录 关注商品优惠记录
#之前考虑叫“records” 但会很多人不知道是什么
#叫“data”则大家一目了然

**/.tmp/
#结束运行时总是可以删除 包含两类：
#1.测试输出的临时文件 能确认测试出的问题
#	删掉后可重测试得到
#.独立项目会把引用的常用代码复制到这
#	每次运行时会自动复制
#	运行过程中不知道是否能删除 一般也不必删除

*/.log/
#可能有特殊情况的日志 确认不再需要则可删

*/output/
#不是测试的 而是正式的输出
#但也可以随时重生成 可随时删除
#性同.tmp 分_output_以便区分
#目前用在_输入法自定词库_和_zh2md_项目中